/*Some necessary adjustments*/
h1, body, html, main {
  margin: 0;
  text-align: center;
  display: inline-block
  
}

/*Import the font and set the default size*/
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px
}

.hero-image{
background-image: url("images/apple-pie.jpg");


}
.hero-text {
  top: 20%;
  left: 50%;
  color: white;
  position: absolute;
  transform:translate(-50%,-30%);
  font-size: 150%
}

.Ingredients-Directions{
  text-align:left;
  color: #555;
text-align: left;
 margin: 5%
}
#image3{
  text-align: center;

}
#elment1{
  text-align: left;
}

